<!DOCTYPE html>
<html>
{{> header}}
<body>
    <h1>{{ pageTitle }}</h1>
    {{!-- Use hbs helper @screamIt to convert String to Uppercase --}}
    <p>{{screamIt welcomeMessage }}</p>
</body>
{{> footer }}
</html>